django<2.0
django-wysiwyg
django-slug-preview
# TODO: replace with upstream version
https://github.com/sigmacms/django-form-builder/archive/master.zip
django-fluent-contents
django-fluent-pages
django-tinymce
pillow
south
